table inet filter {
        chain input {
                type filter hook input priority filter; policy accept;
                ct state { established, related } accept
                ip saddr 10.0.0.0/8 tcp dport 22 accept
                drop
        }

        chain forward {
                type filter hook forward priority filter; policy accept;
        }

        chain output {
                type filter hook output priority filter; policy accept;
        }
}
